<aside class="site-sidebar">
  <div class="sidebar-inner">
    <a class="sidebar-avatar-link" href="{{ "/" | relative_url }}">
      <img class="sidebar-avatar" src="/images/elhai.jpg" alt="Coly Elhai">
    </a>

    <div class="sidebar-name">
      <a href="{{ "/" | relative_url }}">Coly Elhai</a>
    </div>

    <div class="sidebar-title">
      PhD Candidate, Economics (Harvard)
    </div>

    <ul class="sidebar-links">
      <li><a href="mailto:celhai@g.harvard.edu">Email</a></li>
      <li><a href="https://www.linkedin.com/in/coly-elhai/" rel="me">LinkedIn</a></li>
      <li><a href="https://twitter.com/colyelhai" rel="me">Twitter</a></li>
      <li><a href="{{ "/pdfs/Elhai_CV_1page.pdf" | relative_url }}">CV</a></li>
    </ul>
  </div>
</aside>