<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">

  <body>

    {%- include header.html -%}

    <div class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="site-grid">
          {% include sidebar.html %}
          <main class="site-main">
            {{ content }}
          </main>
        </div>
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>